[submodule "scan-camera-android"]
	path = scan-camera-android
	url = https://github.com/getbouncer/scan-camera-android
[submodule "scan-framework-android"]
	path = scan-framework-android
	url = https://github.com/getbouncer/scan-framework-android
